/*
 ___    ___
 \   \  \   \
  \ \ \__\ \ \
   \_\______\_\
Independent, \ \
Creative,     \ \__
Digital        \___\
and good at it.
morphlondon.com
 
RESET----------------------------------------------------------*/
*{margin:0px; padding:0px; border:0 none; vertical-align: baseline; font-size:100%; font-weight:normal; font-style:normal;}
/*Force scrollbar*/
html{height:100%; padding-bottom:1px;}
ul,ol{ list-style:none;}
a img {border:none;}
a { -webkit-transition: color .2s; -moz-transition: color .2s; -o-transition: color .2s; transition: color .2s; text-decoration: none; }
a[target="_blank"]{color: #000;}
a:hover, a:active { outline: 0; text-decoration: underline; }
input::-moz-focus-inner {border:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
.audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
.audio:not([controls]) { display: none; }
.[hidden] { display: none; }
/*set text selecttion color*/
::selection { background:#c3effd; color:#000; /* Safari and Opera */ }
::-moz-selection{ background:#c3effd; color:#000; /* Firefox */ }
em{font-style:italic;}
hr{height:0px;overflow:hidden; margin:0;padding:0; line-height:0;}

input.tb,
textarea.tb{
    padding: 9px 10px;
    border: solid 1px #c0c0c0;
    font-size: 12px;
    height: 17px;
    font-family: Helvetica, sans-serif;
    color: #ababab;
}


/*Library----------------------------------------------------------*/

.hidden{display:none;}

.hidden2{
    height: 0;
    overflow: hidden;
    -webkit-transition: height .4s;
    -moz-transition: height .4s;
    -o-transition: height .4s;
    transition: height .4s;
}

.hidden3,
#map-logo.hidden3{
    width: 0;
    overflow: hidden;
    -webkit-transition: width .4s;
    -moz-transition: width .4s;
    -o-transition: width .4s;
    transition: width .4s;
}

.inline-block{
    display: -moz-inline-stack;
    display: inline-block;
    zoom:1;        
    *display: inline;
    vertical-align: top;
}

.hide-text {
    text-indent: 105%;
    white-space: nowrap;
    overflow: hidden;
}

.opacity{
    filter: alpha(opacity=75); /* IE lt 8 */
    -ms-filter: "alpha(opacity=75)"; /* IE 8 */
    -khtml-opacity: .75; /* Safari 1.x */
    -moz-opacity: .75; /* FF lt 1.5, Netscape */
    opacity: .75; /* Standard: FF gt 1.5, Opera, Safari */
}

.opacity0{
    filter: alpha(opacity=0); /* IE lt 8 */
    -ms-filter: "alpha(opacity=0)"; /* IE 8 */
    -khtml-opacity: 0.0; /* Safari 1.x */
    -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
    opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
}

.underline{ text-decoration:underline ! Important;}

.ieTxtShadow{
	display: block;
	height: 33px;/*can be what ever*/
	filter: dropshadow(color=#ffff00,offX=5,offY=5);
}

.roundedCrnrs{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.clear-both{
    clear: both;
    height: 0px;
}

.loader{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    z-index: 10;
}

.caro{
    overflow: hidden;
    position: relative;
}

.reel{
    width: 4000px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.reel li{
    float: left;
}

.slidingDoors{ position:relative; }

.slidingDoors .btnL,.slidingDoors .btnR,.slidingDoors .btnL-rev,.slidingDoors .btnR-rev{
    position: absolute;
    top: 0px;
}

.slidingDoors .btnL{left: -12px;}
.slidingDoors .btnR{right: -17px;}

.slidingDoors .btnL-rev{left: -18px;}
.slidingDoors .btnR-rev{right: -10px;}

.dummy-dd{
    position:relative;
    padding:0 20px 0 7px;
    background: transparent url('../img/dd-m.png') 0 0 repeat-x;
    cursor:pointer;
    text-align: left;
}

.dummy-dd span, #main-nav ul li .dummy-dd span{
    line-height:20px;
    font-size:11px;
}

.dummy-dd-l{
    position:absolute;
    top:0;
    left:-1px;
    z-index: 1;
}
.dummy-dd-r{
    position:absolute;
    top:0;
    right:-1px;
    z-index: 1;
}

.dummy-dd select{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:3;
    filter: alpha(opacity=0); /* IE lt 8 */
    -ms-filter: "alpha(opacity=0)"; /* IE 8 */
    -khtml-opacity: 0.0; /* Safari 1.x */
    -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
    opacity: 0.0; /* Standard: FF gt 1.5, Opera, Safari */
}

.wrap{
    white-space: pre-wrap; /* css-3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
/*Typography______*/

@font-face {
    font-family: 'museo_300';
    src: url('../fonts/museo300-regular-webfont.eot');
    src: url('../fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo300-regular-webfont.woff') format('woff'),
         url('../fonts/museo300-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo300-regular-webfont.svg#museo_300regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_500';
    src: url('../fonts/museo500-regular-webfont.eot');
    src: url('../fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo500-regular-webfont.woff') format('woff'),
         url('../fonts/museo500-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo500-regular-webfont.svg#museo_500regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_700';
    src: url('../fonts/museo700-regular-webfont.eot');
    src: url('../fonts/museo700-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo700-regular-webfont.woff') format('woff'),
         url('../fonts/museo700-regular-webfont.ttf') format('truetype'),
         url('../fonts/museo700-regular-webfont.svg#museo_700regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_500';
    src: url('../fonts/museosans_500-webfont.eot');
    src: url('../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_500-webfont.woff') format('woff'),
         url('../fonts/museosans_500-webfont.ttf') format('truetype'),
         url('../fonts/museosans_500-webfont.svg#museo_sans_500regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.false-link-out{color: #000;}

.meta-loc-icon,
.meta{
    font-size: 11px;
}

.meta-loc-icon{
    padding-left: 16px;
    background: url('../img/loc-pin-small.png') 0 -11px no-repeat;
}
.red .meta-loc-icon{background: url('../img/loc-pin-small.png') 0 -51px no-repeat;}
.yellow .meta-loc-icon{background: url('../img/loc-pin-small.png') 0 -91px no-repeat;}


.ttl{
    font-size: 24px;
    font-family: Georgia, serif;
    line-height: 1.3em;
    color: #000;
}
.sub-ttl{
    font-size: 18px;
    line-height: 1.3em;
    color: #000;
}

.blue a{color: #5a7d96;}
.red a{color: #aa3737;}
.yellow a{color: #cf9c37;}

/*Lets GO!________________________________*/
body{
    width: 100%;
    color: #6b6b6b;
    font-size: 14px;
    line-height: 1.25em;
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: 300;
    background: #fff;
    text-align: center;
}

#hashgordon-header{
    width: 100%;
    height: 87px;
    background: #ccc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    display: none;
}

    .wrapper{
        width: 940px;
        padding: 0;
        margin: 0 auto;
        text-align: left;
    }

    .embed .wrapper{
        padding: 0;
        width: 600px;
    }

    .hash #hashgordon-header{display: block;}
    .hash .wrapper{padding: 100px 0 0 0;}

    .wrapper600{
        width: 600px;
        padding: 0;
        margin: 0 auto;
        text-align: left;
    }

    .no-js .wrapper,
    .lt-ie7 .wrapper{display: none !important;}

    #no-js-warning{
        display: none;
        padding: 50px 20px 50px 50px;
        text-align: left;
    }

    #no-js-warning #logo,
    .lt-ie8 #no-js-warning #logo{
        margin-left: 0;
        top: 0;
        margin-bottom: 10px;
        padding-left: 0;
        background-position: 0 0; 
    } 

    #no-js-warning .ttl{
        margin-bottom: 10px;
    }

    #no-js-warning p{
        width: 500px;
        font-size: 14px;
        line-height: 1.3em;
    }

    .no-js #no-js-warning,
    .lt-ie7 #no-js-warning{display: block;}


    /* $common */

    .gray-out{
        background: rgba(0,0,0,0.57);
        -webkit-transition: background .25s;
        -moz-transition: background .25s;
        -o-transition: background .25s;
        transition: background .25s;
    }
    .lt-ie9 .gray-out{background: url('../img/gray-out.png') 0 0 repeat;}

    .gray-out.show{background: rgba(99,99,99,0);}
    .lt-ie9 .gray-out.show{background: transparent;}

    .faded-out{
            filter: alpha(opacity=30); /* IE lt 8 */
            -ms-filter: "alpha(opacity=30)"; /* IE 8 */
            -khtml-opacity: 0.3; /* Safari 1.x */
            -moz-opacity: 0.3; /* FF lt 1.5, Netscape */
        opacity: 0.3;
        -webkit-transition: opacity .25s;
        -moz-transition: opacity .25s;
        -o-transition: opacity .25s;
        transition: opacity .25s;
    }

    .faded-out.show{
        filter: alpha(opacity=100); /* IE lt 8 */
        -ms-filter: "alpha(opacity=100)"; /* IE 8 */
        -khtml-opacity: 1.0; /* Safari 1.x */
        -moz-opacity: 1.0; /* FF lt 1.5, Netscape */
        opacity: 1;
    }

    .btn{
        width: auto;
        background: #5a7d96;
        -webkit-box-shadow: inset 2px 2px 5px rgba(0,0,0,0.18);
        -moz-box-shadow: inset 2px 2px 5px rgba(0,0,0,0.18);
        box-shadow: inset 2px 2px 5px rgba(0,0,0,0.18);
        color: #fff !important;
        cursor: pointer;
        display: inline-block;
        font-family: inherit;
        font-size: 14px;
        font-weight: bold;
        line-height: 1;
        margin: 0;
        padding: 10px 20px 11px;
        position: relative;
        text-align: center;
        text-decoration: none;

        -webkit-transition: box-shadow 0.1s ease-in-out;
        -moz-transition: box-shadow 0.1s ease-in-out;
        -o-transition: box-shadow 0.1s ease-in-out;
        transition: box-shadow 0.1s ease-in-out;
    }

    .btn:hover{
        text-decoration: none;
        color: #f2f2f2 !important;
        -webkit-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.35);
        -moz-box-shadow: inset 1px 1px 10px rgba(0,0,0,0.35);
        box-shadow: inset 1px 1px 10px rgba(0,0,0,0.35);
    }

/* $grid */
.section{
    width: 100%;
    margin-bottom: 20px;
}

.col-300{
    float: left;
    width: 300px;
}


/*----------------------------------
    $Site Styles
----------------------------------*/

.app-panel{
    background: #f2f2f2;
    box-shadow: 0 1px 9px 0 rgba(0,0,0,0.22);
    color: #454545;
}

.editable-panel{ }
.editable-panel.live-view{ }

/* $header site */
#site-header{
    position: relative;
    z-index: 2;
    height: 100px;
    padding: 10px;
    margin-top: 15px;
    width: 580px;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}

#site-header .sub-ttl{margin-bottom: 5px;}

#site-header a{ 
    text-decoration: underline;
    color: #5a7d96;
}
#site-header a.btn{ 
    text-decoration: none;
    color: #fff;
}

    #noticeboard-gate{
        width: 600px;
        height: 350px;
        position: absolute;
        bottom: -374px;
        left: 0;
        z-index: 100;
        text-align: center;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    .open-noticeboard-gate #noticeboard-gate{
        height: 30px;
        bottom: 25px;
    }

        .hide-on-open{
            opacity: 1;
            -webkit-transition: opacity .25s;
            -moz-transition: opacity .25s;
            -o-transition: opacity .25s;
            transition: opacity .25s;
        }

        .open-noticeboard-gate .hide-on-open{
            filter: alpha(opacity=0); /* IE lt 8 */
            -ms-filter: "alpha(opacity=0)"; /* IE 8 */
            -khtml-opacity: 0.0; /* Safari 1.x */
            -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
            opacity: 0;
        }

        #noticeboard-url{
            margin-top: 150px;
            width: 404px;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            -o-transition: all .5s;
            transition: all .5s;
            padding: 15px 20px; 
            -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
            color: #898787;
            vertical-align: bottom;
            border: none;
            box-shadow: inset 2px 2px 5px rgba(0,0,0,0.18);
            font-family: Helvetica, sans-serif;
            font-size: 14px;
        }
        .lt-ie9 #noticeboard-url{
            border: solid 1px #898787;
            padding: 14px 20px; 
        }

        #noticeboard-url:focus{color: #000;}

        .open-noticeboard-gate #noticeboard-url{
            margin-top: 0;
        }

        #noticeboard-url-btn{ 
            margin-left: -5px;
            padding: 17px 30px 16px;
        }

        .lt-ie8 #noticeboard-url-btn{ 
            margin-top: 151px;
        }

        .lt-ie8 .open-noticeboard-gate #noticeboard-url-btn{
            margin-top: 0;
        }

        #demo-pin{
            position: absolute;
            top: 196px;
            left: 360px;
        }

/* $Editable map section */
#editable-header{
    position: relative;
    -webkit-transition: height .4s, opacity .25s;
    -moz-transition: height .4s, opacity .25s;
    -o-transition: height .4s, opacity .25s;
    transition: height .4s, opacity .25s;
    margin-top: -1px;
    border-bottom: 1px solid #000;
}

#editable-header.live-view{

}

.lt-ie9 #editable-header.live-view{position: static;}

    .inner-fade-cont{
        -webkit-transition: opacity .25s;
        -moz-transition: opacity .25s;
        -o-transition: opacity .25s;
        transition: opacity .25s;
    }

    #edit-map-logo-cont,
    #edit-map-title-cont,
    #edit-map-hash-cont{
        position: absolute;
        top: 10px;
        opacity: 1;
        z-index: 2;
/*      -webkit-transition: opacity .25s;
        transition: opacity .25s;*/
    }

    /*#edit-map-logo-cont.hide,*/
    #edit-map-title-cont.hide,
    #edit-map-hash-cont.hide{
            filter: alpha(opacity=0); /* IE lt 8 */
            -ms-filter: "alpha(opacity=0)"; /* IE 8 */
            -khtml-opacity: 0.0; /* Safari 1.x */
            -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
        opacity: 0;
        cursor: pointer;
    }

    .live-view #edit-map-logo-cont,
    .live-view #edit-map-title-cont,
    .live-view #edit-map-hash-cont{ display: none;}

    #edit-map-logo-cont{
        left: 384px;
        height: 98px;
        width: 198px;
        text-align: center;
        border: solid 1px #c0c0c0;
    }

    #edit-map-logo-cont label{ text-decoration: underline; }

        #remove-image{
            position: absolute;
            top: 0;
            right: 0;
            width: 10px;
            height: 10px;
            padding: 5px;
            background: #ccc;
            color: #fff;
            filter: alpha(opacity=0); /* IE lt 8 */
            -ms-filter: "alpha(opacity=0)"; /* IE 8 */
            -khtml-opacity: 0.0; /* Safari 1.x */
            -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
            opacity: 0;
            -webkit-transition: opacity .25s;
            -moz-transition: opacity .25s;
            -o-transition: opacity .25s;
            transition: opacity .25s;
        }

        #edit-map-logo{
            margin: 44px 1px 0 7px;
            vertical-align: baseline;
        }

        #edit-map-logo-cont.hide label{
            filter: alpha(opacity=0); /* IE lt 8 */
            -ms-filter: "alpha(opacity=0)"; /* IE 8 */
            -khtml-opacity: 0.0; /* Safari 1.x */
            -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
            opacity: 0;
        }

        .lt-ie9 #edit-map-logo-cont.hide label{ zoom: 1;}

        #img-url{
            bottom: -1px;
            left: 15px;
        }

        .on #img-url{
            bottom: -10px;
            filter: alpha(opacity=100); /* IE lt 8 */
            -ms-filter: "alpha(opacity=100)"; /* IE 8 */
            -khtml-opacity: 1.0; /* Safari 1.x */
            -moz-opacity: 1.0; /* FF lt 1.5, Netscape */
            opacity: 1;
        }

        .done.on #img-url{
            bottom: -1px;
            left: -16px;
            filter: alpha(opacity=0); /* IE lt 8 */
            -ms-filter: "alpha(opacity=0)"; /* IE 8 */
            -khtml-opacity: 0.0; /* Safari 1.x */
            -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
            opacity: 0;
        }

    #edit-map-title-cont{ left: 10px; }

        #edit-map-title{width: 346px;}

        .hide #edit-map-title{cursor: pointer;}

    #edit-map-hash-cont{ 
        left: 10px;
        top: 53px;
    }

        #edit-map-hash{
            width: 346px;
            height: 37px;
            overflow: auto;
        }

        #map-instructions{
            -webkit-transition: opacity .25s;
            -moz-transition: opacity .25s;
            -o-transition: opacity .25s;
            transition: opacity .25s;
            width: 282px;
            height: 53px;
            overflow: hidden;
        }


.option-panel{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    padding: 15px 0;
    font-size: 11px;
    color: #333;
    -webkit-border-radius: 2px 0px 0px 2px;
    border-radius: 2px 0px 0px 2px;
    box-shadow: 0 1px 9px 0 rgba(0,0,0,0.22);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.lt-ie9 .option-panel{
    border: solid 1px #fff;
    border-right: none;
}

.option-panel.float{
    left: -10px;  
    padding: 0 0 10px 0;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.option-panel.open{
    left: -150px;
    width: 150px;
}

.lt-ie9 .option-panel.open{
    border: solid 1px #c7c7c7;
}

.option-panel.float.open{
    left: -150px;
    width: 140px;
}

#global-option-panel{
    height: 75px;
    top: 1px;
}

    #global-option-panel .option-ttl {padding: 4px 0 3px;}

    label input{
        vertical-align: middle;
    }

#header-option-panel{
    height: 17px;
    top: 1px;
}

#map-option-panel-1{
    top: 116px;
    height: 42px;
}
    #map-option-panel-1 div{
        margin-left: 17px;
        width: 115px;
        padding-top: 8px;
    }
        #map-option-panel-1 div a{
            font-size: 12px;
            color: #000;
            text-decoration: underline;
        }

#map-option-panel-2{
    top: 199px;
    height: 78px;
}

#widget-option-panel{
    height: 17px;
    top: 1px;
}

    .option-panel *{
        filter: alpha(opacity=0); /* IE lt 8 */
        -ms-filter: "alpha(opacity=0)"; /* IE 8 */
        -khtml-opacity: 0.0; /* Safari 1.x */
        -moz-opacity: 0.0; /* FF lt 1.5, Netscape */ 
        opacity: 0;
        -webkit-transition: opacity .25s .4s;
        -moz-transition: opacity .25s .4s;
        -o-transition: opacity .25s .4s;
        transition: opacity .25s .4s;
    }

    .option-panel.open *{
        filter: alpha(opacity=100); /* IE lt 8 */
        -ms-filter: "alpha(opacity=100)"; /* IE 8 */
        -khtml-opacity: 1.0; /* Safari 1.x */
        -moz-opacity: 1.0; /* FF lt 1.5, Netscape */
        opacity: 1;
    }

    .option-panel label,
    .option-panel p{ 
        margin-left: 15px;
        font-size: 12px;
    }

    .option-panel input[type="text"],
    .option-panel input[type="number"]{
        width: 70px; 
        margin-left: 15px; 
    }

    .option-panel .option-ttl,
    .option-ttl{
        font-size: 14px;
    }

    #tag-filter-ta{
        width: 102px;
        height: 33px;
        padding: 7px 6px;
        font-size: 11px;
        color: #ababab;
        box-shadow: inset 1px 1px 3px 0 rgba(0,0,0,0.22);
        margin-left: 15px;
        margin-top: 9px;
        font-family: Helvetica, sans-serif;
        overflow: auto;
        resize: none; 
    }

    .tool-tip-btn{
        font-size: 12px;
        position: absolute;
        top: 3px;
        right: 6px;
    }

    .tool-tip { 
        opacity: 0;
        background: black; 
        background: rgba(0, 0, 0, 0.8); 
        position: absolute; 
        color: white; 
        font-size: 12px; 
        padding: 5px; 
        max-width: 140px;
        text-align: left;
        z-index: 999; 
        -webkit-border-radius: 4px; 
        -moz-border-radius: 4px; 
        -ms-border-radius: 4px; 
        -o-border-radius: 4px; 
        border-radius: 4px; 
        line-height: normal; 
    }
    .tool-tip.tip-left, .tool-tip.tip-right { float: none !important; }
    .tool-tip.tip-right > .nub { 
        border-color: transparent black transparent transparent; 
        border-color: transparent rgba(0, 0, 0, 0.85) transparent transparent; 
        right: auto; 
        left: -10px; 
    }
    .tool-tip.opened { 
        color: #2ba6cb !important; 
        border-bottom: dotted 1px #196177 !important; 
    }


#editable-widgets{
    margin-bottom: 10px;
    position: relative;
    border-top: solid 1px #000;
    -webkit-transition: height .4s;
    -moz-transition: height .4s;
    -o-transition: height .4s;
    transition: height .4s;
}

#editable-widgets.live-view{border: solid 1px #fff;}

    #editable-widgets .half-size-div{
        -webkit-transition: opacity .25s;
        -moz-transition: opacity .25s;
        -o-transition: opacity .25s;
        transition: opacity .25s;
    }

    .live-view.half-size-div{}

#editable-footer{
    margin: 0 0 0 10px;
    text-align: left;
    height: 42px;
    float: left;
}
.lt-ie8 #editable-footer{position: relative;}

#editable-footer.live-view{ 
    width: 142px !important;
    border: none;
}

    #editable-footer .edit-social-link{
        width: 73px;
        -webkit-transition: width .25s;
        -moz-transition: width .25s;
        -o-transition: width .25s;
        transition: width .25s;
        position: relative;
    }

    #editable-footer.live-view .edit-social-link{display: none;}

    #editable-footer.live-view .edit-social-link.done{
        display: block;
        width: 25px;
    }

        li.edit-social-link .toggle-social-link{
            float: left;
            margin-top: 13px;
        }

        .live-view .toggle-social-link{display: none;}

        li.edit-social-link a{
            filter: alpha(opacity=40); /* IE lt 8 */
            -ms-filter: "alpha(opacity=40)"; /* IE 8 */
            -khtml-opacity: 0.4; /* Safari 1.x */
            -moz-opacity: 0.4; /* FF lt 1.5, Netscape */
            opacity: 0.4;
            -webkit-transition: bottom .25s;
            -moz-transition: bottom .25s;
            -o-transition: bottom .25s;
            transition: bottom .25s;
        }

        li.edit-social-link.on a{ 
            filter: alpha(opacity=100); /* IE lt 8 */
            -ms-filter: "alpha(opacity=100)"; /* IE 8 */
            -khtml-opacity: 1.0; /* Safari 1.x */
            -moz-opacity: 1.0; /* FF lt 1.5, Netscape */
            opacity: 1;
        }

        .img-link-tb.tb,
        .social-link-tb.tb{
            width: 137px;
            position: absolute;
            left: -47px;
            bottom: -30px;
            z-index: 2;
            color: #333;
            font-size: 10px;
            filter: alpha(opacity=0); /* IE lt 8 */
            -ms-filter: "alpha(opacity=0)"; /* IE 8 */
            -khtml-opacity: 0.0; /* Safari 1.x */
            -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
            opacity: 0;
            -webkit-transition: bottom .25s, opacity .25s;
            -moz-transition: bottom .25s, opacity .25s;
            -o-transition: bottom .25s, opacity .25s;
            transition: bottom .25s, opacity .25s;
            border: 5px solid #f2f2f2;
            box-shadow: inset 0 0 0 1px #333, 0 1px 3px 0 rgba(0,0,0,0.2);
        }



        .edit-social-link.on .img-link-tb,
        .edit-social-link.on .social-link-tb{
            bottom: -37px;
            filter: alpha(opacity=100); /* IE lt 8 */
            -ms-filter: "alpha(opacity=100)"; /* IE 8 */
            -khtml-opacity: 1.0; /* Safari 1.x */
            -moz-opacity: 1.0; /* FF lt 1.5, Netscape */
            opacity: 1;
        }

        .edit-social-link.on.done .img-link-tb,
        .edit-social-link.on.done .social-link-tb{
            bottom: -30px;
            filter: alpha(opacity=0); /* IE lt 8 */
            -ms-filter: "alpha(opacity=0)"; /* IE 8 */
            -khtml-opacity: 0.0; /* Safari 1.x */
            -moz-opacity: 0.0; /* FF lt 1.5, Netscape */
            opacity: 0;
        }

        .live-view .img-link-tb,
        .live-view .social-link-tb{display: none;}

        .lt-ie8 .social-link-tb{
            z-index: 10;
        }


/* $footer site */
#site-footer{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}
.lt-ie8 #site-footer{z-index: 1;}

    .footer-controls{
        background: #f2f2f2;
        padding: 20px 0;
        position: fixed;
        bottom: -139px;
        left: 50%;
        z-index: 1;
        margin-left: -300px;
        box-shadow: 0 1px 9px 0 rgba(0,0,0,0.22);
        -webkit-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
        -webkit-transition: bottom .5s;
        -moz-transition: bottom .5s;
        -o-transition: bottom .5s;
        transition: bottom .5s;
        -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    .lt-ie9 .footer-controls{
        border: solid 1px #c7c7c7;
        border-bottom: none;
        margin-left: -301px;
    }

    .footer-controls.open{}
    .footer-controls.no-show{bottom: -210px;}

        #change-footer-state{
            display: block;
            position: absolute;
            top: 10px;
            right: 10px;
            width: 24px;
            height: 21px;
            overflow: hidden;
            background: url('../img/mini-maxi.png') 0 0 no-repeat;
        }
        #change-footer-state.minus{ background-position: 0 -21px;}

        .footer-controls .col-300{
            width: 285px;
            padding-left: 15px;
        }

        #site-footer #edit-embed-col{
            width: 279px;
            border-left: solid 1px #ccc;
        }

            .footer-controls .btn{
                margin-bottom: 15px;
                margin-left: 10px;
            }

            .footer-controls p{ 
                margin-left: 10px;
                font-size: 14px;
            }

            .footer-controls ul{ 
                margin-left: 10px;
                font-size: 12px;
                padding-top: 10px;
            }

            #footer-embed-code{
                width: 240px;
                height: 75px;
                padding: 5px 10px;
                background: #fff;
                border: none;
                box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.2);
                margin: 10px 0 0 10px;
                font-size: 12px;
                color: #898787;
                font-family: Helvetica, sans-serif;
                resize: none;
            }


/*----------------------------------
    $Map Styles
----------------------------------*/

/* $header */
#map-header{
    position: relative;
    z-index: 1;
    margin: 0 auto;
    width: 600px;
}
.lt-ie8 #map-header{z-index: 2;}

    #map-logo{
        width: 200px;
        height: 100px;
        float: left;
        margin: 10px 6px;
        overflow: hidden;
        -webkit-transition: width .4s;
        -moz-transition: width .4s;
        -o-transition: width .4s;
        transition: width .4s;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
        #map-logo a{
            display: block;
            width: 200px;
            height: 100px;
        }

        .lt-ie9 #map-logo a{
            position: relative;
            z-index: 10;
            top: 0;
            left: 0;
        }

    .lt-ie8 #logo{
        margin-left: 0;
    }

    #explanation{
        width: 368px;
        height: 100px;
        float: left;
        margin-left: 10px;
        margin-top: 10px;
        overflow: hidden;
    }
    /*.lt-ie8 #explanation{margin-left: 0;}*/

        #map-title{
            padding-top: 5px;
            margin-bottom: 12px;
            width: 368px;
            overflow: hidden;
            white-space: pre-wrap; /* css-3 */    
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -pre-wrap; /* Opera 4-6 */    
            white-space: -o-pre-wrap; /* Opera 7 */    
            word-wrap: break-word; /* Internet Explorer 5.5+ */
        }

            #map-title a,
            #map-title a:hover,
            #map-title a:visited{
                text-decoration: none !important;
                color: #000 !important;
            }

        #explanation p{
            font-size: 12px;
            margin-bottom: 5px;
            line-height: 1.2em;
            color: #444;
            width: 368px;
            overflow: hidden;
        }

        #explanation .more{
            margin-top: 26px;
            padding: 0;
            background: transparent;
            font-size: 10px;
            line-height: 1em;
        }

    #map-function{
        position: relative;
        clear: both;
        width: 592px;
        margin-left: 8px;
        margin-bottom: 13px;
        margin-top: 10px;
    }

    .lt-ie8 #map-function{
        width: auto;
        margin-left: 0;
    }

    #filter-list{
        height: 34px;
    }

    .lt-ie8 #filter-list{
        margin-top: 0;
    }

        #filter-list li{ 
            float: left;
            margin-right: 17px;
            width: auto;
            height: 29px;
            margin-top: 8px;
        }

        #filter-list li#search-cont-li{
            margin-right: 10px;
            margin-left: 0;
            margin-top: 0;
            float: right;
            height: 34px;
        }

            #filter-list a{
                float: left;
                height: 29px;
                line-height: 24px;
                font-size: 11px;
                display: block;
                padding-left: 25px;
                color: #454545;
                background-image: url('../img/embed/nav-sprite.png');
                background-position: 0 0;
                background-repeat: no-repeat;
            }
            #filter-list a:hover{text-decoration: none;}

            #filter-list a#find-me{
                background-image: url('../img/embed/nav-sprite.png');
                display: none;
            }
            .yellow #filter-list a#find-me{background-position: 0 -140px;}
            .red #filter-list a#find-me{background-position: 0 -280px;}


            #filter-list a#reset-map{
                background-image: url('../img/embed/nav-sprite.png');
                background-position: 0 -28px;
            }
            .yellow #filter-list a#reset-map{background-position: 0 -168px;}
            .red #filter-list a#reset-map{background-position: 0 -308px;}

                #search-form{
                    width: 244px;
                    height: 34px;
                    display: block;
                    -webkit-box-shadow: inset 0px 1px 5px 2px rgba(0, 0, 0, 0.18);
                    box-shadow: inset 0px 1px 5px 2px rgba(0, 0, 0, 0.18);
                    margin-top: 2px;
                }

                .lt-ie9 #search-form{
                    width: 242px;
                    height: 30px;
                    border: solid 1px #898787;
                }

                    #search-box{
                        width: 177px;
                        height: 34px;
                        line-height: 20px;
                        margin-right: 0;
                        border: none; 
                        background: transparent url('../img/embed/nav-sprite.png') 8px -102px no-repeat;
                        padding: 0 5px 0 35px;
                        font-size: 11px;
                        float: left;
                        color: #ababab;
                        font-family: Helvetica, sans-serif;
                    }
                    .lt-ie9 #search-box{
                        width: 175px;
                        height: 30px;
                        background-position: 8px -105px;
                        line-height: 30px;
                    }

                    #filter-list a.search-btn{
                        height: 19px;
                        width: 19px;
                        background: transparent url('../img/embed/nav-sprite.png') -3px -62px no-repeat;
                        margin-top: 7px;
                        float: left;
                        display: block;
                        padding: 0;
                    }
                    .lt-ie9 #filter-list a.search-btn{ margin-top: 5px;}

                    .yellow #filter-list a.search-btn{background-position: -3px -202px;}
                    .red #filter-list a.search-btn{background-position: -3px -342px;}

                    /*#filter-list a.search-btn.clear{background: transparent url('../img/embed/nav-sprite.png') 3px -28px no-repeat;}*/
                    #filter-list a.search-btn.clear{
                        margin-top: 10px;
                        background: transparent url('../img/embed/search-btn-sprite.png') 3px -14px no-repeat;
                    }

                #filter-form{
                    width: 145px;
                    height: 36px;
                    display: block;
                    -webkit-box-shadow: inset 0px 1px 5px 2px rgba(0, 0, 0, 0.18);
                    box-shadow: inset 0px 1px 5px 2px rgba(0, 0, 0, 0.18);
                    margin-top: 3px;
                    cursor: pointer;
                }

                .lt-ie9 #filter-form{
                    width: 143px;
                    height: 34px;
                    border: solid 1px #ccc;
                }

                    #filter-form p{
                        width: 95px;
                        font-size: 12px;
                        color: #000;
                        margin-left: 14px;
                        line-height: 36px;
                        float: left;
                    }

                    #filter-list #filter-handle{
                        float: left;
                        background-position: 0 -48px;
                    }

                        #current-filter{ 
                            color: #35c6af;
                            text-decoration: underline;
                            text-transform: capitalize;
                        }

                #filter-dd{
                    position: absolute;
                    left: 0;
                    top: 39px;
                    z-index: 2;
                    width: 145px;
                    height: 0; 
                    overflow: hidden;
                    background: #fff;
                    -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.18);
                    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.18);
                    -webkit-transform: translate3d(0,0,0);
                    -moz-transform: translate3d(0,0,0);
                    transform: translate3d(0,0,0);
                    -webkit-transition: height .4s ease-out;
                    -moz-transition: height .4s ease-out;
                    -o-transition: height .4s ease-out;
                    transition: height .4s ease-out;
                }

                .lt-ie9 #filter-dd{ 
                    width: 143px;
                    border: solid 1px #ccc;
                    border-top: none;
                }

                    #filter-dd li{
                        width: 100%;
                        height: auto;
                        display: list-item;
                        float: none;
                        text-indent: 10px;
                        font-size: 12px;
                        color: #35c6af;
                        line-height: 1em;
                        padding: 8px 0;
                        background: #fff;
                        -webkit-transition: color .2s, background .2s;
                        -moz-transition: color .2s, background .2s;
                        -o-transition: color .2s, background .2s;
                        transition: color .2s, background .2s;
                    }
                    #filter-dd li:hover,#filter-dd li.active{color: #fff;}

                    li#dd-all:hover,li#dd-all.active{background: #35c6af;}
                    li#dd-books:hover,li#dd-books.active{background: #f4d93b;}
                    li#dd-toys:hover,li#dd-toys.active{background: #ff4dbc;}
                    li#dd-fashion:hover,li#dd-fashion.active{background: #131515;}
                    li#dd-food:hover,li#dd-food.active{background: #f63745;}
                    li#dd-music:hover,li#dd-music.active{background: #c31784;}
                    li#dd-home:hover,li#dd-home.active{background: #760c23;}

/* $home */
.half-size-div{
    width: 275px;
    height: 237px;
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #000;
    margin-right: 10px;
    float: left;
    background: #fff;
}

.half-size-div.loading{
    background-image: url('../img/loader.gif');
    background-position: 228px 151px;
    background-repeat: no-repeat;
}
.half-size-div.loading *{
    display: none;
}

.half-size-div.end{margin-right: 0;}

    .half-size-div h2,
    .half-size-div h3{
        font-size: 24px;
        font-family: Georgia, serif;
        line-height: 1.3em;
        margin-bottom: 12px;
        color: #000;
    }

    .half-size-div h3{margin-bottom: 7px;}

    .half-size-div a.open-single{
        display: block;
        line-height: 0.5em;
    }
    .blue .half-size-div a.open-single{background: #5a7d96;}
    .red .half-size-div a.open-single{background: #aa3737;}
    .yellow .half-size-div a.open-single{background: #cf9c37;}

    .half-size-div a.open-single img{
        opacity: 1;
        -webkit-transition: opacity .2s ease-out;
        -moz-transition: opacity .2s ease-out;
        -o-transition: opacity .2s ease-out;
        transition: opacity .2s ease-out;
    }
    .half-size-div a.open-single:hover img{
        opacity: 0.8;
    }

    .lt-ie9 .half-size-div a.open-single:hover img{
        filter: alpha(opacity=80); 
    }

    .half-size-div .meta-loc-icon{
        width: 189px;
        float: left;
    }

    .half-size-div #popular-gig-report-num-reviews{
        width: 70px;
        float: left;
        text-align: right;
    }

    #popular-gig-view-all-reviews-link,
    #featured-reporter-all-reviews-link{margin-left: 18px;}

    #ppopular-gig-report-image{ margin-bottom: 7px; }

    .hs-l-col{
        width: 146px;
        min-width: 146px;
        margin-right: 5px;
        float: left;
    }

    .hs-r-col{
        width: 124px;
        height: 135px;
        float: left;
        border-top: solid 2px #333;
        font-size: 11px;
        padding-top: 9px;
    }

.venue-ttl,
.venue-ttl a{
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.3em;
}
.venue-ttl{ color: #6b6c6c; }

a.at-user{ color: #000;}

.venue-ttl-small,
.venue-ttl-small a{
    font-size: 11px;
    margin-bottom: 12px;
}

#most-popular-box .venue-ttl{
    max-height: 135px;
    overflow: hidden;
    font-size: 12px;
}

    #most-popular-box .venue-ttl a{font-size: 12px;}

.hs-r-col .meta-loc-icon,
.hs-r-col .meta{
    margin-bottom: 12px;
}

.half-size-div .profile-pic{
    float: left;
    width: 75px;
    min-width: 75px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: block;
}

    .profile-pic img{
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        border-radius: 7px;
    }

.half-size-div .profile-info{
    float: left;
    padding-top: 7px;
    padding-left: 5px;
    max-height: 66px;
    width: 275px;
    border-top: solid 2px #333;
    font-size: 11px;
    margin-bottom: 25px;
}

    .profile-latest-revs li{
        float: left;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .profile-latest-revs li.end{margin-right: 0;}

/* $map */
.map-cont.section{
    width: 600px;
    height: 350px;
    margin:0 auto;
    position: relative;
    background-image: url('../img/loader.gif');
    background-position: 259px 143px;
    background-repeat: no-repeat;
    -webkit-box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px 0px 7px 1px rgba(0, 0, 0, 0.1);
}

.lt-ie8 .map-cont.section{z-index: 1;}

#map{
    width: 600px;
    height: 350px;
    background: transparent;
}

.lt-ie8 #map.opacity0{
    filter: alpha(opacity=100); /* IE lt 8 */
}


/*Info Box*/
.ib-wrapper{
    width: 367px;
    height: 228px;
    overflow: hidden;
    position: relative;
}

.ib-wrapper.autoHeight{height: auto;}

    .ib-page-reel{
        width: 734px;
        float: left;  
    }
    .ib-page-reel.second-page{ 
        margin-left: -367px;
    }

    .ib-page-list,
    .ib-page-detail,
    .ib-place-detail{
        padding: 10px 10px 5px 25px;
        width: 332px;
        height: 213px;
        overflow: hidden; 
        float: left;  
        position: relative;
    }

    .ib-place-detail{
        height: 43px;
        float: none;
    }

    /*.ib-place-detail a.meta{ color: #35c6af;}*/

    .ib-page-detail{
        padding: 10px 32px 5px 25px;
        width: 310px;
    }

        .ib-ttl{
            font-size: 16px;
            font-family: Georgia, serif;
            color: #323232;
            line-height: 1.3em;
            float: left;
            margin-bottom: 8px;
        }

        .ib-place-detail .ib-ttl{float: none;}

        .ib-fn-btn{
            float: right;
            margin-top: 4px;
            font-size: 10px;
            margin-right: 15px;
        }
        .ib-fn-btn.hidden{display: none;}

        .ib-page-list .ib-fn-btn.expand-cluster,
        .ib-page-list .ib-fn-btn.total-reports{margin-right: 29px;}

        .top-bar-pink{
            width: 244px;
            position: absolute;
            top: 38px;
            right: 36px;
            z-index: 1;
        }
        .blue .top-bar-pink{border-bottom: solid 2px #5a7d96;}
        .red .top-bar-pink{border-bottom: solid 2px #aa3737;}
        .yellow .top-bar-pink{border-bottom: solid 2px #cf9c37;}

        .lt-ie8 .top-bar-pink{
            top: 21px;
            right: 20px;
        }

        .ib-arrow{
            position: absolute;
            bottom: -35px;
            left: 0;
        }

        .ib-feed-list{
            width: 332px;
            height: 185px;
            overflow: hidden;
            outline: none;
        }

            .ib-feed-list li{
                width: 306px;
                margin-bottom: 5px;
                background: #fff;
                -webkit-transition: background .2s ease-out;
                -moz-transition: background .2s ease-out;
                -o-transition: background .2s ease-out;
                transition: background .2s ease-out;
            }

            .ib-feed-list li.hover{background: #f1f1f1;}

                .ib-feed-img{
                    float: left;
                    width: 55px;
                    height: 55px;
                    margin-right: 7px;
                }

                .ib-feed-body{
                    width: 244px;
                    height: 54px;
                    float: left;
                    overflow: hidden;
                    border-top: 1px solid #35c6af; 
                }
                .blue .ib-feed-body{border-top: solid 1px #5a7d96;}
                .red .ib-feed-body{border-top: solid 1px #aa3737;}
                .yellow .ib-feed-body{border-top: solid 1px #cf9c37;}

                .hasImg .ib-feed-body{width: 244px;}

                    a.ib-feed-headline{
                        font-size: 12px;
                        color: #7d7e7e;
                        width: 215px;
                        margin: 5px 0 4px 0;
                        display: block;
                        line-height: 1.3em;
                        max-height: 17px;
                        overflow: hidden;
                    }

                    a.ib-feed-headline:hover{text-decoration: none;} 

                    .ib-feed-body p{white-space: nowrap;}

        .ib-detail{
            width: 310px;
            height: 185px;
            overflow: hidden;
        }

            #ib-detail-left,
            #ib-detail-right{
                display: block;
                width: 12px;
                height: 21px;
                position: absolute;
                top: 103px;
                left: 8px;
                z-index: 1;
                background: url('../img/arrow-sprite.gif') -24px -42px no-repeat;
            }
            #ib-detail-right{
                left: auto;
                right: 8px;
                background-position: -24px 0;
            }
            #ib-detail-left.hidden,
            #ib-detail-right.hidden{ display: none;}

            .red #ib-detail-left{background-position: -12px -42px;}
            .red #ib-detail-right{background-position: -12px 0;}
            
            .yellow #ib-detail-left{background-position: 0 -42px;}
            .yellow #ib-detail-right{background-position: 0 0;}

            a#ib-detail-left:hover{background-position: -24px -63px;}
            a#ib-detail-right:hover{background-position: -24px -21px;}

            .red a#ib-detail-left:hover{background-position: -12px -63px;}
            .red a#ib-detail-right:hover{background-position: -12px -21px;}

            .yellow a#ib-detail-left:hover{background-position: 0 -63px;}
            .yellow a#ib-detail-right:hover{background-position: 0 -21px;}

            .ib-detail-img{
                float: left;
                margin-right: 5px;
                width: 163px;
                height: 163px;
                background-position: 65px 65px;
                background-image: url('../img/loader.gif');
                background-repeat: no-repeat;
            }

            .ib-detail-body{
                width: 312px;
                float: left;
                padding-top: 8px;
                padding-bottom: 5px;
                border-top: 2px solid #333; 
                border-bottom: 1px solid #333; 
                height: 147px;
            }

            .hasImg .ib-detail-body{
                width: 142px;
            }

                .headline-scroll{
                    height: 100px;
                    margin-bottom: 9px;
                    overflow: hidden;
                }

                    .headline-scroll .jspPane{left: 0!important;}

                .ib-detail-headline{
                    font-size: 12px;
                    color: #6b6c6c;
                    line-height: 1.3em;
                    margin-left: 8px;
                    width: 280px;
                    overflow: hidden; 
                }

                .hasImg .ib-detail-headline{
                    margin-left: 0;
                    width: 133px;
                    float: left;
                }

                .ib-detail-body .meta,
                .ib-detail-body .meta-loc-icon{
                    font-size: 11px;
                    margin-left: 8px;
                }
                .ib-detail-body .meta{padding-left: 0;}

                .hasImg .ib-detail-body .meta,
                .hasImg .ib-detail-body .meta-loc-icon{margin-left: 0;}
                .hasImg .ib-detail-body .meta{padding-left: 9px;}

                .linkOut{
                    font-size: 10px;
                    display: block;
                    float: left;
                    margin-right: 5px;
                }

/* $footer */
#map-footer{
    padding-top: 0;
    border-bottom: solid 1px #000;
    text-align: center;
    font-size: 11px;
    width: 600px;
    margin: 0 auto; 
}

    .footer-list{
        /*height: 42px;*/
        margin-bottom: 0;
    }

        .footer-list li{
            float: left;
            height: 42px;
            margin-right: 20px;
        }


            .footer-list p{
                float: left;
                font-family: Georgia, serif;
                color: #333333;
                margin-right: 5px;
                font-size: 12px;
                line-height: 44px;
                font-size: 11px;
                letter-spacing: 0px;
            }

            .footer-list a{
                display: block;
                width: 24px;
                height: 25px;
                margin-top: 7px;
                margin-right: 10px;
                float: left;
                background: url('../img/footer-sprite.gif') 0 0 no-repeat;
            }

            .footer-list a.ft-text-link{
                display: inline;
                background: none;
                margin-top: 0;
                float: none;
            }


            #foot-fb-icon{background-position: 0 0;}
            #foot-tw-icon{background-position: 0 -25px;}
            #foot-gp-icon{background-position: 0 -50px;}
            
            .yellow #foot-fb-icon{background-position: -34px 0;}
            .yellow #foot-tw-icon{background-position: -34px -25px;}
            .yellow #foot-gp-icon{background-position: -34px -50px;}
            
            .red #foot-fb-icon{background-position: -68px 0;}
            .red #foot-tw-icon{background-position: -68px -25px;}
            .red #foot-gp-icon{background-position: -68px -50px;}

            #foot-embed-icon{background-position: 0 -34px;}
            #foot-mail-icon{background-position: 0 -68px;}

    #powered-by-notice{float: right;}

    #re-embed{
        float: right;
        display: block;
        width: 144px;
        height: 37px;
        margin-right: 130px;
        background: url('../img/embed-sprite.gif') 0 0 no-repeat;
    }
    #re-embed:hover{text-decoration: none;}

    .red #re-embed{background: url('../img/embed-sprite.gif') 0 -47px no-repeat;}
    .yellow #re-embed{background: url('../img/embed-sprite.gif') 0 -97px no-repeat;}

    .embed #editable-footer.live-view{width: 137px;}

#map-footer-spacer{
    height: 80px;
}

.lt-ie8 #map-footer-spacer{
    height: 120px;
}

    .lined-box{
        border-top: 2px solid #333; 
        border-bottom: 1px solid #333;  
        padding: 15px 0 20px 0;
        text-align: left;
    }

        #footer .lined-box p{
            font-size: 11px;
            width: 460px;
        }

/* $Modals */

.modal{
    width: 320px;
    padding: 15px;
    background-color: #fff; 
    -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.18);
    position: fixed;
    top: 320px;
    left: 50%;
    margin-left: -175px;
    z-index: 1000;
    font-size: 14px;
}

.lt-ie9 .modal{ border: solid 1px #333;}

#error-box{
    min-height: 120px;
}

    #error-box-close{
        width: 22px;
        height: 23px;
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        background: url('../img/close.gif') 0 0 no-repeat;
    }

    .modal p.error-ttl{
        font-size: 22px;
        font-family: Georgia, serif;
        line-height: 1.3em;
        margin-bottom: 12px;
        color: #323232;
        width: 300px;
        padding-right: 20px;
        padding-bottom: 5px;
    }
    .blue .modal p.error-ttl{border-bottom: solid 2px #5a7d96;}
    .red .modal p.error-ttl{border-bottom: solid 2px #aa3737;}
    .yellow .modal p.error-ttl{border-bottom: solid 2px #cf9c37;}

    .modal p{width: 300px;}

#embed-box{
    min-height: 170px;
    top: 45%;
    left: 50%;
    margin-left: -175px;
    -webkit-box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 1px 7px 1px rgba(0, 0, 0, 0.18);
    text-align: left;
    display: none;
}

    #embed_code{
        width: 302px;
        height: 80px;
        border: solid 5px #f1f1f1;
        font-size: 12px;
        font-family: Helvetica, sans-serif;
        font-weight: 200;
        line-height: 1.5em;
        color: #7B8084;
        padding: 4px;
        overflow: hidden;
        margin-bottom: 5px;
    }

    .lt-ie8 #embed_code{
        margin-left: 175px;
    }

    #embed_code:focus{
        outline: 0;
    }

/*SCROLLPANE_____*/
.jspContainer
{
    overflow: hidden;
    position: relative;
}
.jspPane
{
    position: absolute;
    left:0;
}
.jspCap
{
    display: block;
    background: transparent;
}

.jspVerticalBar .jspCap{height: 2px;}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 0;
    width: 13px;
    height: 100%;
    background: transparent;
    z-index:1;
}
.headline-scroll .jspVerticalBar{width: 9px;}


.jspVerticalBar *,
.jspHorizontalBar *
{
    margin: 0;
    padding: 0;
}

.jspTrack{
    background: #ebebeb;
    width: 11px;
    padding: 1px;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.headline-scroll .jspTrack{width: 7px;}

.jspDrag{
    position: relative;
    top: 0;
    left: 0px;
    cursor: pointer;
    width:11px;
    background: #c4c4c4;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.headline-scroll .jspDrag{width: 7px;}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
    margin: 0 -3px 0 0;
}